<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
    <link rel="SHORTCUT ICON" href="img/fishlogo.png" />
    <title>ETF優缺點</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white bg-gradient">
        <div class="container-fluid">
          <a class="navbar-brand" href="index"><img src="img/fishlogo2.png" width="155" height="39" class="d-inline-block align-top" alt="金魚學股票" loading="lazy"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="etfqa">ETF起手式</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="etfpro">ETF優缺點</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">認識金魚</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">加入會員</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main">
        <div class="container">
          <p>ETF是一種貼近指數報酬的商品，其包含的投資組合依照指數所包含的成分股調整，因此投資ETF具有分散風險的優點，而投資人也可以因此清楚的瞭解到目前ETF的成分股為何。除此之外，投資人投資ETF即能以過往投資股票的方式一般，在交易時間內隨時進行買進賣出的動作，加上ETF管理費用相當的低廉，一年的管理費約為0.35%，比起共同基金2%~3%低了許多，所以ETF算是一種投資相當方便且費用低廉的商品。總而言之，ETF具備了交易方便、分散風險、透明度高等等許多優點。</p>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ETF的優點
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>1.交易方便</strong><br>
                    ETF的交易方式就像股票，投資人只要有證券帳戶便可在ETF的交易時段內進行買賣，買賣的規則與股票完全相同。此外，ETF的交易稅只要千分之一，較股票的千分之三低廉許多。另一方面，ETF一上市便可進行信用交易，不同於一般上市櫃股票需有六個月的限制期。<br>
                  <p><strong>2.成本低廉</strong><br>
                    ETF最大的特性之一就是交易成本低廉。ETF的管理策略是追蹤指數報酬，因此包括的成分股都以指數包含的成分股為基準，如此一來，就可以省下一筆研究分析的費用，也因此可以收取低廉的管理費用；另一方面，ETF這種被動式的投資策略不會像主動式管理基金一樣進行頻繁的買賣，只要依照指數進行投資組合變動即可，使得交易成本自然也降低。<br>
                  <p><strong>3.分散投資</strong><br>
                    ETF被動式的投資組合管理，一般而言持股較主動型管理的基金要多，因此ETF較不受個別公司而影響績效，可有效降低個別公司所帶來的風險，也可以降低投資組合的波動性。<br>
                  <p><strong>4.多樣化</strong><br>
                    ETF連結的指數涉及各個國家、各個市場、各個產業，包含的範圍相當廣泛，提供投資人非常多樣化的選擇，舉例來說，若投資人看好歐洲市場，便可去投資連結指數是衡量歐洲表現的ETF。若是今天投資人看好黃金，那便可去投資連結指數跟黃金相關的ETF。<br>
                  <p><strong>5.高透明度</strong><br>
                    ETF投資的標的商品與指數相同，持股相當透明化，投資人可以隨時上發行公司的網站觀看持股內容，因此投資人可以較容易瞭解投資組合特性並做出適當的預期。<br>
                  <p><strong>6.信用交易</strong><br>
                    ETF除了買進賣出策略外，一上市時便可進行信用交易，投資人可以在看好趨勢的情況下融資買進，也可以在看壞趨勢下融券賣出。在許多國家中，都設置有平盤下不得放空的規定，但是ETF則不受相關規定所限制。<br>
                  <p><strong>7.流動性高</strong><br>
                    ETF的投資標的都是指數的成分股，一般而言都是市場上市值較大且流動性較高的股票，加上其隨時買賣且資產規模不固定的特點，使得其流動性較高，所以即使看錯行情放空ETF也不會被軋空。<br>
                  <p><strong>8.看準趨勢避免選股風險</strong><br>
                    假設今天投資人看好太陽能產業，覺得未來太陽能極有可能大漲，那投資人便可以去投資太陽能類的ETF。這樣投資的好處就是可以避免個股的風險，例如投資人因看好太陽能而投資A公司，但是未來太陽能大漲而A公司因為個別因素沒有跟上這波漲勢，那投資人不就白白錯失了賺錢的機會嗎?此外，投資ETF的另一個好處就是不用去研究個別公司的財報與歷史資料，只要能瞭解產業背景和判斷未來走勢便可進行投資來獲利。<br>
                  <p><strong>9.市場有效避險工具</strong><br>
                    ETF為一籃子股票的概念，因此我們可以把ETF看成是指數期貨，加上ETF可以多空操作，所以我們可以把它視為一種避險的工具。假設今天法人手中有持股但是看壞大盤的表現，便可以利用融券放空的方式賣出ETF來減少現貨損失的金額。 以往法人機構操作基金時只能以期貨來做為長期避險的工具，但是仍需面臨每月平倉、交易成本、價差成本等問題，但是ETF則沒有到期日與轉倉的困擾，因此ETF的出現提供市場一個更多元化的操作選擇。<br>
                    
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ETF的缺點
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>1.不適合頻繁交易</strong><br>
                    較適合長線投資人投資。如同股票之缺點，太頻繁買賣的手續費將吃掉穩健的收益，同時墊高脫手的成本，因此買入後必須被動等待績效為正時才可脫手，花費的時間成本也較高。
                    <br><strong>2.拖累績效</strong><br>
                    由於 ETF 特性為追蹤一籃子股票或投資標的，除了投資績效良好之標的外，同樣也會將狀況較差之標的納入投資。在沒有較嚴格篩選狀況下，綜合績效上會受到拖累。
                    <br><strong>3.追蹤誤差</strong><br>
                    ETF 所連結的指數報酬並不會有任何的成本，但是 ETF 為了產生與指數相同的組合卻會產生許多費用，例如手續費、交易稅、管理費用等等。除此之外，當指數成分股變動時，發行公司可能因為市場因素會使得無法第一時間取得變動的成分股，這些因素會使得指數報酬與 ETF 報酬有所差距，這之間的差距稱為「追蹤誤差」，而追蹤誤差風險就是投資人必須承擔的風險。
                    <br><strong>4.系統風險</strong><br>
                    根據投資組合理論，投資股票的風險可分為系統風險與個別企業風險，投資組合隨著投資標的增加可以降低個別企業的風險，但是系統風險則是無法降低的。ETF 也是一個投資組合的概念，其雖然包含了很多個股，可以讓投資人免除個別企業的風險，但是仍需承擔系統風險。
                    <br><strong>5.匯率風險</strong><br>
                    若是投資人投資的 ETF 是國內的商品，則不會有匯率風險的問題，但隨著全球化的時代來臨，投資人很有可能投資海外的 ETF，這時投資人就必須面臨匯率風險，所以投資前最好對匯率有所瞭解，以免最後賺了報酬卻賠了匯差。
                    </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ETF的4大類型
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>     
      <!-- Footer -->
      <section id="footer">
        <div class="container">
          <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>新手指南</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="index"><i class="fa fa-angle-double-right"></i>認識金魚</a></li>
                <li><a href="etfqa"><i class="fa fa-angle-double-right"></i>ETF起手式</a></li>
                <li><a href="etfpro"><i class="fa fa-angle-double-right"></i>ETF優缺點</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>會員相關</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>加入會員</a></li>
                <li><a href="service"><i class="fa fa-angle-double-right"></i>服務條款</a></li>
                <li><a href="privacy"><i class="fa fa-angle-double-right"></i>隱私政策</a></li>
                <li><a href="disclaimer"><i class="fa fa-angle-double-right"></i>免責聲明</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>其他相關</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>商業合作</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>意見反饋</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>cookie政策</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>聯絡我們</a></li>
                <li>
              </ul>
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-xs-12 col-sm-12 col-md-12 my-2 mt-sm-2 text-center text-white">
        <p>
          <a href="#!"><img src="img/fishlogo2.png" alt="" width="180"></a> 
          <br>
        </p>
        <p class="h6 lh-lg">richpartner1995@gmail.com <br>© copyright 2020 by fish rich</p>
              
            </div>
            </hr>
          </div>	
        </div>
      </section>
	<!-- ./Footer -->




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>