<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
    <link rel="SHORTCUT ICON" href="img/fishlogo.png" />
    <title>ETF起手式</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white bg-gradient">
        <div class="container-fluid">
          <a class="navbar-brand" href="index"><img src="img/fishlogo2.png" width="155" height="39" class="d-inline-block align-top" alt="金魚學股票" loading="lazy"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="etfqa">ETF起手式</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="etfpro">ETF優缺點</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">認識金魚</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">加入會員</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main">
        <div class="container">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  1.ETF有哪些種類
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>1.股票ETF</strong><br>股票ETF追蹤股票市場的指數，在台灣知名度最高的就是大家熟悉的0050。股票ETF追蹤的股票市場指數可以是單一國家指數、區域指數、產業指數或者特定主題的指數。<br>區域型：投資特定區域的ETF，例如歐洲等區域。<br>單一國家型：投資個別國家的ETF，例如台灣、美國、中國、印度、日本等。<br>產業型：投資特定產業的ETF，例如科技指數、金融指數等。<br>主題型：投資特定主題的ETF，例如高股息指數、AI等。<br>
                  <strong> 2.債券ETF</strong><br>追蹤、模擬或複製之標的指數成分為債券之ETF，提供投資人債券指數的報酬。投資人可以依據信用評等、投資地區、特定產業等進行選擇。<br>
                  <strong>3.商品ETF</strong><br>商品型ETF透過期貨提供投資人原物料等商品的報酬，標的有：<br>能源ETF：例如石油。<br>貴金屬ETF：例如黃金、白銀等。<br>農產品ETF：例如黃豆等</p>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  2.ETF該從股票市場還是基金市場買進?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>ETF全名叫做”股票指數型基金“，雖然有基金兩個字，但基本上ETF要從股票市場買進，
                    也就是用證券帳戶買，基金戶買可能以前早期有，但現在指數型基金很少。指數型基金的性質跟ETF一樣，都是指數投資，只是購買管道不同。
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  3.如何購買ETF？
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>1.買ETF用證券戶買，不要透過銀行或投信買因為成本較高<br>
                    2.用證券戶買ETF，定期定額需要自己手動買進，若資金少可以買零股<br>
                    3.線上就可以預約證券開戶<br>
                    4.用券商看盤軟體就可以做ETF買賣
                    </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  4.ETF為什麼近期在台灣這麼熱門？
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>投資ETF優點主要有以下這3點：<br>
                    <strong>✔ 門檻低：</strong>今天假設要買台積電，目前股價265元，買一張成本需要26萬5千元，但若購買0050，目前股價84塊，買一張只需要8萬4千元，但這不僅只是買了台積電，也買了中華電、鴻海等這些優質成本股，另外ETF也可以購買零股，不需要一次買一張，小額進場也可以。<br>
                    <strong>✔ 風險低：</strong>就像買了一籃子的好股票，而並非重壓單一一支股票，把風險分散到所有標的，假設你買了0050，其中的成分股如鴻海跌了，但台積電、中華電是漲的，就可以把投資風險分散掉。<br>
                    <strong>✔ 手續費低：</strong>比起購買基金需要1%～2%的交易手續費，購買ETF只需要負擔0.1425%的手續費和0.1%的證交稅，共約0.25%左右，比買基金划算許多。
                    </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  5.想投資ETF要去哪裡開戶，要準備什麼？
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>第一步：開一個台股的證券交易帳戶，開戶要注意幾件事：
                    <br>
                    <strong>1.去哪裡開戶</strong><br>
                    大型券商都可以，我目前推薦日盛軟體和服務都很不錯，
                    線上預約填姓名電話身分證字號就會有專人聯繫<br>
                    <strong>2.開戶要準備什麼</strong><br>
                    國內通常預約好時間後，營業員會和你接洽並且幫你走完流程，開戶時只需要準備印章和雙證件就可以。海外開戶則是都線上完成。<br>
                    <strong>3. 開戶手續費</strong><br>
                    可以和營業員談，國內手續費大概是5折起，但是能不能看到更低，其實是要看你的成交量夠不夠大，如果你每月成交量沒有超過1000萬可能就不會差太多。
                    </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headinSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  6.ETF是否適合積極型之投資人？
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>對積極型的投資人來說，可以將指數化投資的ETF搭配自己積極選股之策略，或搭配部分主動式管理的共同基金進行資產配置，執行「核心／衛星」投資組合策略。簡單來說，以ETF作為核心持股，以確保配置於這部分的資金投資績效可與大盤連動，不會錯失大盤上漲的報酬機會。另外，投資人再根據自身對證券市場後市行情的研判，選擇個別股票或另外再搭配產業型或特殊型的共同基金。</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headinSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  7.學會計算ETF資產淨值
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>資產淨値=(所有資產價値*-所有累計費用)/所有單位數目<br>
                    *包括現金及未派發之股息</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  8.ETF名詞解釋
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>參與證券商：</strong><br>
                    指與設立指數股票型證券投資信託基金（以下簡稱指數股票型基金）而發行受益憑證之證券投資信託事業（以下簡稱投信事業）簽訂參與契約，可自行或受託辦理指數股票型基金實物申購 / 買回業務之證券商。
                    <br><strong>保管機構：</strong><br>
                    指與設立指數股票型基金而發行受益憑證之投信事業簽訂信託契約之金融機構。
                    <br><strong>申請人：</strong><br>
                    指利用於參與證券商開設之證券買賣帳戶委託辦理實物申購 / 買回之委託人，另參與證券商自行辦理實物申購 / 買回者，亦為申請人。
                    <br><strong>實物申購 / 買回清單：</strong><br>
                    指投信事業於每一營業日參考指數提供者通知之標的指數資料所訂定並公布次一營業日實物申購 / 買回一個申請基數之受益憑證所需股票組合及預估基準現金差額之清單。預估基準現金差額為正數，表示申請人於實物申購時應給付現金予投信事業或實物買回時投信事業應給付現金予申請人；若預估基準現金差額為負數，表示投信事業於實物申購時應給付現金予申請人或實物買回時申請人應給付現金予投信事業。
                    <br><strong>實物申購：</strong><br>
                    參與證券商自行或受託依實物申購 / 買回清單所公布申請基數之股票組合及預估基準現金差額，或其整倍數為對價，向投信事業申購受益憑證。
                    <br><strong>實物買回：</strong><br>
                    參與證券商自行或受託依實物申購 / 買回清單所公布受益憑證之申請基數，或其整倍數為對價，向投信事業換回實物申購 / 買回清單所公布之股票組合及現金差額。
                    <br><strong>現金申購：</strong><br>
                    參與證券商自行或受託以現金方式交付對價，向投信事業申購受益憑證，申購金額與單位數之計算基準，應依信託契約之規定辦理。
                    <br><strong>現金買回：</strong><br>
                    參與證券商自行或受託以交付受益憑證方式，向投信事業換回對價之現金，買回金額之計算基準，應依信託契約之規定辦理。
                    <br><strong>集合實物申購：</strong><br>
                    以不超過三位申請人依其相互間之約定，提交個別持有之股份，集合成實物申購 / 買回清單所公布之股票組合或其整倍數，並指定其中一人負責給付所需現金差額，而共同委託一家參與證券商（如申請人之一為具有自營部門之參與證券商，則為該參與證券商），以前述約定集合之股票組合及現金差額，向投信事業申購受益憑證。
                    <br><strong>最小實物申購組合：</strong><br>
                    指參與證券商自行辦理之實物申購，經投信事業同意，就其應交付實物申購對價之股票組合明細按股份種類及收盤價計算之總市值均達百分之九十以上之股票並就不足之股份繳付保證金，並於實物申購日次一營業日買進或借入不足之股份補足交付予保管機構。
                    <br><strong>現金替代：</strong><br>
                    指實物申購 / 買回清單所公布之股票組合中某特定股份出現下列情形之一者，申請人進行實物申購（買回）時，交付（換回）之對價股份，得改以投信事業計算之金額取代。
                    申請人因法令限制無法持有或轉讓該特定股份。
                    該特定股份於證券交易市場停止買賣。
                    其他依投信事業於實物申購 / 買回清單所公布採現金替代之股份。
                    實物買回對價中之特定股票，遇指數股票型基金於應交付股票予申請人時未持有該等股票或持有之股數不足給付買回對價，亦無法依規定借得足夠之股票以交付申請人。
                    指數股票型證券投資信託基金之信託契約規定得以現金替代之事項。
                    <br><strong>現金差額：</strong><br>
                    按申請人實物申購 / 買回之申請基數數額乘以基準現金差額計算所得之金額。
                    <br><strong>短缺股票：</strong><br>
                    指參與證券商辦理最小實物申購組合時，未能依實物申購 / 買回清單所公布之股票組合交付之股份。
                    </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                  9.ETF的投資風險
                </button>
              </h2>
              <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>1.系統風險</strong><br>
                    根據投資組合理論，投資股票的風險可分為系統風險與個別企業風險，投資組合隨著投資標的增加可以降低個別企業的風險但是系統風險則是無法降低的。ETF也是一個投資組合的概念，也就是說ETF雖然包含了很多個股，可以讓投資人免除個別企業的風險，但是仍需承擔系統風險。
                    <br><strong>2.追蹤誤差風險</strong><br>
                    ETF所連結的指數報酬並不會有任何的成本，但是ETF為了產生與指數相同的組合卻會產生許多費用，例如手續費、交易稅、管理費用等等。除此之外，當指數成分股變動時，發行公司可能因為市場因素會使得無法第一時間取得變動的成分股，這些因素會使得指數報酬與ETF報酬有所差距，這之間的差距稱為「追蹤誤差」。而追蹤誤差風險就是投資人必須承擔的風險之一。
                    <br><strong>3.匯率風險</strong><br>
                    若是投資人投資的ETF是國內的商品則不會有匯率風險的問題，但隨著全球化的時代來臨，投資人很有可能投資的是海外的ETF，這時投資人就必須面臨匯率風險，所以投資前最好對匯率有所瞭解，以免最後賺了報酬卻賠了匯差。
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>    
      <!-- Footer -->
      <section id="footer">
        <div class="container">
          <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>新手指南</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="index"><i class="fa fa-angle-double-right"></i>認識金魚</a></li>
                <li><a href="etfqa"><i class="fa fa-angle-double-right"></i>ETF起手式</a></li>
                <li><a href="etfpro"><i class="fa fa-angle-double-right"></i>ETF優缺點</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>會員相關</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>加入會員</a></li>
                <li><a href="service"><i class="fa fa-angle-double-right"></i>服務條款</a></li>
                <li><a href="privacy"><i class="fa fa-angle-double-right"></i>隱私政策</a></li>
                <li><a href="disclaimer"><i class="fa fa-angle-double-right"></i>免責聲明</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <h5>其他相關</h5>
              <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>商業合作</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>意見反饋</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>cookie政策</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>聯絡我們</a></li>
                <li>
              </ul>
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-xs-12 col-sm-12 col-md-12 my-2 mt-sm-2 text-center text-white">
        <p>
          <a href="#!"><img src="img/fishlogo2.png" alt="" width="180"></a> 
          <br>
        </p>
        <p class="h6 lh-lg">richpartner1995@gmail.com <br>© copyright 2020 by fish rich</p>
              
            </div>
            </hr>
          </div>	
        </div>
      </section>
	<!-- ./Footer -->




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>