<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
    <link rel="SHORTCUT ICON" href="img/fishlogo.png" />
    <title>金魚學股票|ETF新手投資入門</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white bg-gradient">
        <div class="container-fluid">
          <a class="navbar-brand" href="index"><img src="img/fishlogo2.png" width="155" height="39" class="d-inline-block align-top" alt="金魚學股票" loading="lazy"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="etfqa">ETF起手式</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="etfpro">ETF優缺點</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">認識金魚</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">加入會員</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <header class="jumbotron col-12">
        <div class="container">
          <div class="py-5 text-center">
            <img class="d-block mx-auto my-4" src="img/fishlogo.png" alt="" width="100" height="78">
            <h2>想了解股票先從ETF開始</h2>
            <p class="lead lh-lg">金魚學股票，專為投資新手設計<br>打造ETF為主的投資網站<br>給予投資新手一系列的內容設計<br>從零開始學投資，無痛入門！</p>
            <button type="button" class="btn btn-outline-primary mt-3">了解更多</button>
          </div>
        </div>
      </header>
      <div class="whatetf p-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 pb-4">
              <img class="img-fluid rounded" src="img/Frame2.png" alt=""width="500" height="500">
            </div>
            <div class="col-lg-6 my-auto p-2">
              <h2>什麼是ETF股票型指數基金?</h2>
              <p class="lead lh-lg">ETF是股票也是基金，ETF全名是「Exchange Traded Fund=股票型指數基金」，又可以被稱作是被動式基金，是一種可以在股票交易所買賣的基金。</p>
              <br>
              <ul>
                <i class="lh-lg fas fa-badge-check">分散投資</i><br>
                <i class="lh-lg fas fa-badge-check">低入場費、低管理費</i><br>
                <i class="lh-lg fas fa-badge-check">即時股市交易簡單快捷</i><br>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="aboutetf my-5 py-4">
        <div class="container my-5">
          <div class="row">
            <div class="pt-5 text-center text-light mb-4">
              <h2>為什麼巴菲特也叫你投資ETF?</h2>
              <p class="lead lh-lg">以下ETF的幾項好處，讓新手投資不容錯過</p>
            </div>
          </div>
            <div class="container">
              <div class="row">
                  <div class="box col-lg-4 col-md-6 mb-2">
                    <div class="wrap mb-3 pt-2">
                      <h3>易於管理</h3>
                      <h6 class="lh-base">股神巴菲特幾乎在每一年的致股東書都向廣大投資人推薦ETF，主要原因就是懶人或門外漢都能投資該項產品，且永遠不會投資失敗。每年扣除基本管理費用後，所得利潤均回饋至投資人手上，並隨時追蹤市場、適時汰弱留強。</h6>
                    </div>
                  </div>
                  <div class="box col-lg-4 col-md-6 mb-2">
                    <div class="wrap mb-3 pt-2">
                      <h3>交易方便</h3>
                      <h6 class="lh-base">ETF的交易方式就像股票，投資人只要有證券帳戶便可在ETF的交易時段內進行買賣，交易的規則與股票完全相同。此外，ETF 的交易稅只要千分之一，較股票的千分之三低廉許多；另一方面，ETF 一上市便可進行信用交易，不同於一般上市櫃股票需有六個月的限制期。</h6>
                    </div>
                  </div>
                  <div class="box col-lg-4 col-md-6 mb-2">
                    <div class="wrap mb-3 pt-2">
                      <h3>成本低廉</h3>
                      <h6 class="lh-base">ETF的管理策略是追蹤指數報酬，因此包括的成分股都以指數包含的成分股為基準，如此一來，就可以省下一筆研究分析的費用，也因此可以收取低廉的管理費用；另一方面，ETF 這種被動式的投資策略，只要依照指數進行投資組合變動即可，使得交易成本自然也降低。</h6>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="etfvs">
        <main class="container">
          <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2>股票 vs ETF vs 基金</h2>
          </div>
          <div class="container">
            <table class="table table-hover text-center">
              <thead class="text">
                <tr>
                  <th scope="col"></th>
                  <th scope="col"><i class="fas fa-1x fas fa-money-bill-wave"></i><br>股票</th>
                  <th scope="col"><i class="fas fa-2x fas fa-crown"></i><br>ETF</th>
                  <th scope="col"><i class="fas fa-1x fas fa-donate"></i><br>基金</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">投資型態</th>
                  <td>主動的</td>
                  <td>被動的</td>
                  <td>被動的</td>
                </tr>
                <tr>
                  <th scope="row">年管理費</th>
                  <td><i class="fas fa-sack-dollar"></i></td>
                  <td><i class="fas fa-sack-dollar"></i><i class="fas fa-sack-dollar"></i></td>
                  <td><i class="fas fa-sack-dollar"></i><i class="fas fa-sack-dollar"></i><i class="fas fa-sack-dollar"></i></td>
                </tr>
                <tr>
                  <th scope="row">優點</th>
                  <td>好股績效可以打敗整體市場</td>
                  <td>分散風險跟隨整個市場</td>
                  <td>有專業的投資人幫你操盤</td>
                </tr>
                <tr>
                  <th scope="row">缺點</th>
                  <td>需要花時間自己研究股票</td>
                  <td>同時會買到一些體質差的公司</td>
                  <td>主動基金的手續費太高吃掉報酬率</td>
                </tr>
                <tr>
                  <th scope="row">新手推薦</th>
                  <td><i class="fas fa-star"><i class="fas fa-star"></i></td>
                  <td><i class="fas fa-star"><i class="fas fa-star"><i class="fas fa-star"></td>
                  <td><i class="fas fa-star"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
      <div class="otheretf my-5 py-5">
        <div class="container col-12">
          <div class="row">
            <div class="py-1 text-center">
              <h2>新手的ETF起手式，ETF的4大類型</h2>
            </div>
          </div>
          <div class="container col-12">
            <div class="row">
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="my-5">
                      <i class="fas fa-3x fad fa-analytics text-light mb-3"></i>
                      <h3 class="h4 pb-2 text-light">指數型ETF</h3>
                      <p class="text-light mb-0">這類型的ETF對你來說是最安全的投資標的，它就是追蹤指數，也就是追蹤所謂的大盤，非常適合做長期價值投資。</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="my-5">
                      <i class="fas fa-3x fas fa-balance-scale-right text-light mb-3"></i>
                      <h3 class="h4 pb-2 text-light ">槓桿型ETF</h3>
                      <p class="text-light  mb-0">你如果看到一些ETF的名稱內有『正2』、『正3』的字眼，通通屬於槓桿型ETF，例如: 元大台灣50正2、元大滬深300正2。</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="my-5">
                      <i class="fas fa-3x fas fa-history text-light mb-3"></i>
                      <h3 class="h4 pb-2 text-light">反向型ETF</h3>
                      <p class="text-light  mb-0">如果你看到ETF名稱內有『反1』、『反2』的字眼，通通屬於反向型ETF，也就是看空市場用的ETF。</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="my-5">
                      <i class="fas fa-3x fas fa-boxes text-light mb-3"></i>
                      <h3 class="h4 pb-2 text-light ">期貨型ETF</h3>
                      <p class="text-light  mb-0">期貨是一個統稱，原物料商品: 黃金、白銀、石油、大豆、棉花、小麥、玉米等等以及非原物料商品(VIX恐慌指數)、美元匯率指數等等都是屬於期貨。</p>
                  </div>
              </div>
          </div>

          </div>
        </div>
      </div>

      <div class="joinus">
        <footer class="jumbotron">
          <div class="container text-center py-5 my-5">
            <h2>立即加入會員，獲取更多詳細資訊</h2>
            <div class="input-group py-4 mx-auto">
              <input type="text" class="form-control" placeholder="輸入電子郵件" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <span class="input-group-text text-light" id="basic-addon2">@gmail.com</span>
            </div>
            <button type="button" class="btn btn-outline-primary mt-2">了解更多</button>
          </div>
        </footer>
      </div>
      <!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>新手指南</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="index"><i class="fa fa-angle-double-right"></i>認識金魚</a></li>
						<li><a href="etfqa"><i class="fa fa-angle-double-right"></i>ETF起手式</a></li>
						<li><a href="etfpro"><i class="fa fa-angle-double-right"></i>ETF優缺點</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>會員相關</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>加入會員</a></li>
						<li><a href="service"><i class="fa fa-angle-double-right"></i>服務條款</a></li>
						<li><a href="privacy"><i class="fa fa-angle-double-right"></i>隱私政策</a></li>
						<li><a href="disclaimer"><i class="fa fa-angle-double-right"></i>免責聲明</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>其他相關</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>商業合作</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>意見反饋</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>cookie政策</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>聯絡我們</a></li>
            <li>
					</ul>
				</div>
			</div>
			<div class="row pt-5">
				<div class="col-xs-12 col-sm-12 col-md-12 my-2 mt-sm-2 text-center text-white">
    <p>
      <a href="#!"><img src="img/fishlogo2.png" alt="" width="180"></a> 
      <br>
    </p>
    <p class="h6 lh-lg">richpartner1995@gmail.com <br>© copyright 2020 by fish rich</p>
          
				</div>
				</hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>