@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}
.navbar-light{
  opacity: 0.8;}
header.jumbotron{
  background-image: url(https://i.ibb.co/GJ1ngPM/Frame.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
  background-size: 500px;
}
header.jumbotron .container {
  padding: 180px 0px 80px 0px;
}
header.jumbotron .container h2{
  color:#4B9AF7;
}
header.jumbotron .container p{
  font-size: 22px;
}
header.jumbotron .container hr{
  color:#4B9AF7 ;
  width: 150px;
  height: 2px;
  margin: 30px auto;
}

header.jumbotron .content p{
  font-size: 18px;
}
.whatetf .container h2,h4{
  color: #4B9AF7;
}
.whatetf .container p{
  /* color: #4F5665; */
  font-size: 22px;
}
.whatetf .container i{
  color: #4F5665;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 20px;
}
.aboutetf{
  background: linear-gradient(#6CC7F4, #4B9AF7);
  background-size: cover;
}
.aboutetf .wrap{
  background: rgb(255, 255, 255);
  border-radius: 15px;
  height: 42vh;
}
.aboutetf .box h3, h6{
  margin: 20px 20px;
  color: #4F5665;
}
.aboutetf .box h6{
  font-size: 16px;
  font-weight: 300;
}
.aboutetf .box h3, h6{
  font-size: 24px;
}

.otheretf{
  background: linear-gradient(#6CC7F4, #4B9AF7);
  background-size: cover;
}
.otheretf h2{
  color: #ffffff;
}
.otheretf h3{
  font-size: 24px;
}
.otheretf p{
  font-size: 18px;
}
.etfvs .container h2{
  color: #4B9AF7;
}
.etfvs th{
  width: 100px;
  color:#4B9AF7;
}

.etfvs .container .table thead{
 color:#4B9AF7
}

.etfvs .container .table th{
  height: 5vh;
}
.etfvs .container .table td{
  height: 5vh;
  color: #4F5665;
  font-size: 18px;
}
.joinus .container h2{
  color: #4B9AF7;
}

.joinus .container .input-group{
  width: 22em;
}
.joinus span{
  background: linear-gradient(#6CC7F4, #4B9AF7);

}

/* Footer */
section {
    padding: 60px 0;
}
section .section-title {
    text-align: center;
    color: #1a2e44;
    margin-bottom: 50px;
}
#footer {
    background: #1a2e44 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:8px;
	font-weight:400;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 100;
}
.versiune1 {
font-size: 15px;
margin-top: 5px;  
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

.kev .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px
}
.kev .content {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: auto;
  overflow: hidden
}
.kev .content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s
}
.kev .content:hover .content-overlay {
  opacity: 1
}
.kev .content-image {
  width: 100%
}
.kev img {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
.kev .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s
}
.kev .content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1
}
.kev .content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase
}
.kev .content-details p {
  color: #fff;
  font-size: 0.8em
}
.kev .fadeIn-bottom {
  top: 80%
}

.main .container{
  padding: 100px 0px;
}
.main .container p{
  font-size: 16px;
}


.auth__header {
  padding: 13vh 1rem calc(11vh + 35px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  background-image: linear-gradient(#6CC7F4, #4B9AF7);
  background-size: cover;
  background-position: center center;
  position: relative;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.auth__header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.auth__logo {
  position: relative;
  z-index: 18;
  padding: 10px;
  overflow: hidden;
}
.auth__body {
  padding-bottom: 2rem;
}
.auth__form {
  min-width: 280px;
  max-width: 340px;
  margin: auto;
  margin-top: -40px;
  padding: 0 10px;
  position: relative;
  z-index: 9;
}
.auth__form_body {
  padding: 0.7rem 1.5rem 35px;
  border-radius: 0.5rem;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.auth__form_title {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.auth__form_actions {
  text-align: center;
  padding: 0 2rem;
  margin-top: -25px;
}
.auth__form_actions .btn {
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(50, 128, 228, 0.5);
}

.media .button{
  margin:0 auto;
  text-align:center;
  float:center;
}